#!/usr/bin/env bash

CFG_MODULES=()

CFG_BACKEND=dzen2

# # Uncomment to output data for dzen2 to STDOUT for debugging
# DEBUG=true

# Replace text before sending to status bar programm:
declare -A CFG_REPLACE_MAP=(
    ["<FN_MAIN>"]="Terminus:size=14:style=Light"
)

# Some functions uses this for draw rects
CFG_HEIGHT=30

# Status bar command, dzen2
CFG_STATUS_BAR_CMD=(dzen2 -dock -fn "${CFG_REPLACE_MAP['<FN_MAIN>']}"
                    -ta r -h "${CFG_HEIGHT}")

# ############################### OpenVPN
MOD_OPENVPN_init_vars() {
  service_prefix="openvpn-" # systemd openvpn prefix
  services=(kz-production kz-development) # openvpn systemd services
  services_name_map=(
       ["kz-production"]="Prod"
       ["kz-development"]="Dev"
  )
  # additional_render_params=(-label "OpenVPN" -label_size "100" -color_on red -y_padding 2 -fn_2rows "terminus-8" -fn_2rows_y_offset 0)
}

###############################
# Widget layout format function
###############################

MAIN_format_template() {
set -x
local a=(0 1 2 3 4 5 6 7 8 9 10 10 9 8 7 6 5 4 3 2 1 0)
local b=(10 9 8 7 6 5 4 3 2 1 0 0 1 2 3 4 5 6 7 8 9 10)
local output=""
local widget
dzen2_draw_centered_bars widget \
    a \
    b \
    -max_value 10
output+=" centered: >$widget<"


printf "BEGIN%sEND\n" "$output"
}
